.container{
    width:100%;
    height:auto;
}
.justCon{
    width: 100%;
    height: auto;
    text-align: center;
}
.justCon h1{
    text-transform: uppercase;
    font-weight: bold;
}
.main{
    display: flex;
}
.video{
    width:100%;
    height: auto;
    overflow: hidden;
    padding: 5%;
}
.video-con{
    width: 90%;
}
@media screen and (max-width:800px){
    .main{
        display: block;
    }
    .video{
        width: 700px;
    }
}
.first{
    display:flex;
    height: auto;
    padding-top: 50px;
}
@media screen and (max-width:800px){
    .first{
        display: block;
    }
}
.first .f-block{
    width:100%;
    margin:10px;
    margin-right: 30px;
}
.mpesa{
    width:100%;
    height: 350px;
    border-radius: 40px;
}
.block{
    width:100%;
    height: 20%;
    border:2px solid rgb(0,0,255,0.3);
    margin-bottom: 15px;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
}
.block h3{
    font-weight: bold;
    color: blue;
    text-transform: capitalize;
}
.voice-con{
    display:inline-block;
    align-items: center;
    text-align: center;
}
.voice{
    width: 47%;
    margin: 1%;
    border-radius: 10px;
    padding:5px;
    float: left;
    text-align: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 35%, rgba(0,212,255,1) 100%);   
    font-weight: bolder;
    color: #fff; 
}
.voice p{
    opacity: 0;
    transition: 2s smooth;
    display: none;
}
.voice h3{
    font-weight: bold;
    text-transform: uppercase;
}
.voice:hover p{
    opacity: 1;
    transition: 2s smooth;
    display: block;
}
@media screen and (max-width:1000px){
    .voice{
        width: 43%;
        height: 250px;
    }
}
.voice h1{
    width: 250px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dev{
    display:inline-block;
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
    margin-top: 20px;
}
@media screen and (max-width:1000px){
    .dev{
        padding-left: 30px;
        padding-right: 0;
    }
}
.dev .dev-prof{
    width: 200px;
    height: 200px;
    float: left;
}
.dev .dev-prof img{
    width: 100%;
    height: 100%;
}
.dev .dev-desc{
    width: 60%;
    float: left;
    padding: 20px;
}
.title h1{
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    
}