.b-head{
    width:100%;
    padding: 30px;
    height: 300px;
}
.b-head .profile-img,.profile-text{
    float: left;
}
.b-head .profile-img{
    width: 30%;
    height: 100%;
}
.b-head .profile-img img{
    width: 100%;
    height:100%;
}
.b-head .profile-text{
    width: 70%;
    padding: 10px;
    height: 100%;
}
.sub-branch-title{
    width: 100%;
    height: 50px;
    text-align: center;
}
.sub-branch{
    width: 90%;
    margin: 10px;
    height: auto;
    border: 2px solid rgb(0,0,255,0.4);
    border-radius: 10px;
    display: inline-block;
}
.data{
    width: 15%;
    height:auto;
    text-align: center;
    padding-top: 15px;
    float: left;
}