.containerBlue{
    margin-top:20px;
}
.head{
    color:blue;
    font-weight:bold;
}
.plot{
    width:90%;
    height:auto;
    margin:5%;
    border:2px solid rgb(0,0,255,0.5);
    border-radius:20px;
    padding:10px;
}
.dropDown{
    z-index: 10;
}
.icon{
    height:25px;
    width: 35px;
}
.icon img{
    height:25px;
    width: 35px;
}
.fb-page{
    width:1000px;
}
.con{
    width:100%;
}